doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv='Expires' content='0')
        meta(http-equiv='Last-Modified' content='0')
        meta(http-equiv='Cache-Control' content='no-cache, mustrevalidate')
        meta(http-equiv='Pragma' content='no-cache')
        title Promotoria
        link(rel="stylesheet", href="./css/app.css")
    body
        .global__container
            img(src="https://lp.cayetano.edu.pe/wp-content/uploads/2023/06/bg-factor.jpg", alt="bg-factor", lazy="loading")
            .container__form
                .formulario
                    .formulario__title
                        h3 REGISTRO DE LEADS - PROSPECCIÓN
                    .formulario__content
                        .input__duo
                            input#First_Name.input__item(type='text' name='First Name' maxlength='40' placeholder='Código Modular' required='')
                            input#First_Name.input__item.disabled__item(type='text' name='First Name' maxlength='40' placeholder='Colegio' required='' disabled="true")
                        .input__duo
                            input#First_Name.input__item.disabled__item(type='text' name='First Name' maxlength='40' placeholder='Categoria' required='' disabled="true")
                            input#First_Name.input__item.disabled__item(type='text' name='First Name' maxlength='40' placeholder='Promotor' required='' disabled="true")
                        .input__duo
                            input#First_Name.input__item(type='text' name='First Name' maxlength='40' placeholder='Digitador' required='')
                            input#First_Name.input__item(type='text' name='First Name' maxlength='40' placeholder='Actividad' required='')
                        .input__duo
                            input#First_Name.input__item(type='text' name='First Name' maxlength='40' placeholder='Nombres' required='')
                            input#First_Name.input__item(type='text' name='First Name' maxlength='40' placeholder='Apellidos' required='')
                        input#First_Name.input__item(type='text' name='First Name' maxlength='40' placeholder='Correo' required='')
                        input#First_Name.input__item(type='text' name='First Name' maxlength='40' placeholder='Número de WhatsApp' required='')
                        .input__duo
                            select#LEADCF20.input__item(name='LEADCF20' required='')
                                option(value='' disabled='' selected='') DNI/CE
                                option(value='DNI') DNI
                                option(value='Pasaporte') Pasaporte
                                option(value='CarnédeExtranjería') Carnet de Extranjeria
                            input#First_Name.input__item(type='text' name='First Name' maxlength='40' placeholder='N°' required='')
                        select#LEADCF20.input__item(name='LEADCF20' required='')
                                option(value='' disabled='' selected='') Selecciona Departamento
                                option(value='LIMA') Lima
                                option(value='AMAZONAS') Amazonas
                                option(value='ANCASH') Ancash
                                option(value='APURIMAC') Apurímac
                                option(value='AREQUIPA') Arequipa
                                option(value='AYACUCHO') Ayacucho
                                option(value='CAJAMARCA') Cajamarca
                                option(value='CALLAO') Callao
                                option(value='CUSCO') Cusco 
                                option(value='HUANCAVELICA') Huancavelica 
                                option(value='HUANUCO') Huánuco 
                                option(value='ICA') Ica
                                option(value='JUNIN') Junín
                                option(value='LA LIBERTAD') La Libertad
                                option(value='LAMBAYEQUE') Lambayeque
                                option(value='LORETO') Loreto
                                option(value='MADRE DE DIOS') Madre de Dios
                                option(value='MOQUEGUA') Moquegua
                                option(value='PASCO') Pasco
                                option(value='PIURA') Piura
                                option(value='PUNO') Puno
                                option(value='SAN MARTIN') San Martín
                                option(value='TACNA') Tacna
                                option(value='TUMBES') Tumbes
                                option(value='UCAYALI') Ucayali
                        select#LEADCF20.input__item(name='LEADCF20' required='')
                            option(value='' disabled='' selected='') Carrera de Interés
                            option(value='ADMINISTRACION EN SALUD') Administración en Salud
                            option(value='ADMINISTRACION') Administración
                            option(value='BIOLOGIA') Biología
                            option(value='EDUCACION') Educación
                            option(value='ENFERMERIA') Enfermería
                            option(value='ESTOMATOLOGIA') Estomatología
                            option(value='FARMACIA Y BIOQUIMICA') Farmacia y Bioquímica
                            option(value='INGENIERIA AMBIENTAL') Ingeniería Ambiental
                            option(value='INGENIERIA BIOMEDICA') Ingeniería Biomédica
                            option(value='INGENIERIA INDUSTRIAL') Ingeniería Industrial
                            option(value='INGENIERIA INFORMATICA') Ingeniería Informática
                            option(value='LABORATORIO CLINICO Y ANATOMIA PATOLOGICA') Laboratorio Clínico y Anatomía Patológica
                            option(value='MEDICINA VETERINARIA Y ZOOTECNIA') Medicina Veterinaria y Zootecnia
                            option(value='MEDICINA') Medicina
                            option(value='NUTRICION') Nutrición
                            option(value='PSICOLOGIA') Psicología
                            option(value='QUIMICA') Química
                            option(value='RADIOLOGIA') Radiología
                            option(value='SALUD PUBLICA Y SALUD GLOBAL') Salud Pública y Salud Global
                            option(value='TERAPIA DE AUDICION, VOZ Y LENGUAJE') Terapia de audición, voz y lenguaje
                            option(value='TERAPIA FISICA Y REHABILITACION') Terapia Física y Rehabilitación
                            option(value='TERAPIA OCUPACIONAL') Terapia Ocupacional
                        .input__duo
                            select#LEADCF20.input__item(name='LEADCF20' required='')
                                option(value='' disabled='' selected='') ¿En que grado está?
                                option(value='2020') 2020
                                option(value='2021') 2021
                                option(value='2022') 2022
                                option(value='2023') 2023
                                option(value='2024') 2024
                                option(value='Otro') Otro
                            input#First_Name.input__item.disabled__item(type='text' name='First Name' maxlength='40' placeholder='UTM Campaign' value='pregrado-2025-01' disabled="true")
                        .input__duo
                            input#First_Name.input__item.disabled__item(type='text' name='First Name' maxlength='40' placeholder='UTM Term' value='prospeccion' disabled="true")
                            select#LEADCF20.input__item(name='LEADCF20' required='')
                                option(value='' disabled='' selected='') UTM Source
                                option(value='colegio') colegio
                                option(value='institutos') institutos
                                option(value='empresas') empresas
                        .input__duo
                            select#LEADCF20.input__item(name='LEADCF20' required='')
                                option(value='' disabled='' selected='') UTM Medium
                                option(value='charla') charla
                                option(value='taller') taller
                                option(value='feria') feria
                                option(value='simulacro') simulacro
                                option(value='visita-guiada') visita-guiada
                                option(value='webinar') webinar
                            input#First_Name.input__item(type='text' name='First Name' maxlength='40' placeholder='UTM Content' required='')
                    .formulario__bottom
                        button.form__button 
                            h3 Quiero más información
        //- .form__container
            #crmWebToEntityForm.modal.modal-close.crmWebToEntityForm
                    p.close#close X
                    meta(http-equiv='content-type' content='text/html;charset=UTF-8')
                    form.modal__grid(action='https://crm.zoho.com/crm/WebToLeadForm' name='WebToLeads3503766000237491098' method='POST' onsubmit="javascript:document.charset='UTF-8'; return checkMandatory3503766000237491098()" accept-charset='UTF-8')
                        // Do not remove this code.
                        input(type='text' style='display:none;' name='xnQsjsdp' value='c97f82d6293e06539d0f3a6c001f215f068b9d003b173ad35ac95fe75cb8ea7f')
                        input#zc_gad(type='hidden' name='zc_gad' value='')
                        input(type='text' style='display:none;' name='xmIwtLD' value='42e2caac6f0c0344d1e62ffdafb95a5ddf7c3f5b3dfcd730294bda3ad30f2b3f')
                        input(type='text' style='display:none;' name='actionType' value='TGVhZHM=')
                        // ACA LA REDIRECCION
                        input(type='text' style='display:none;' name='returnURL' value='https://lp.cayetano.edu.pe/site/soycayetano_beneficioscolegios/gracias.html')
                        // Do not remove this code.
                        h3.modal__grid--title
                            | Encuentra tu CAMINO
                            br
                            span HACIA EL EXITO
                        .div__input--container
                            input#First_Name.input__item(type='text' name='First Name' maxlength='40' placeholder='Nombres*' required='')
                            input#Last_Name.input__item(type='text' name='Last Name' maxlength='80' placeholder='Apellidos*' required='')
                            .input__item--grid
                                //- select#LEADCF20(name='LEADCF20')
                                //-     option(value='DNI' selected='') DNI
                                //-     option(value='Pasaporte') Pasaporte
                                //-     option(value='CarnédeExtranjería') Carnet de Extranjeria
                                input#Email(type='text' placeholder='E-mail' ftype='email' name='Email' maxlength='100')
                                input#Mobile.input__item(type='text' placeholder='Celular' name='Mobile' maxlength='9' pattern='9[0-9]{8}')
                            .input__item--grid
                                select#LEADCF14.input__item(name='LEADCF14', required='')
                                    option(value='' disabled='' selected='') Año de Egreso
                                    option(value='2021') 2021
                                    option(value='2022') 2022
                                    option(value='2023') 2023
                                    option(value='2024') 2024
                                    option(value='2025') 2025
                                    option(value='otro') Otro
                                select.input__item(name="LEADCF6" required='' id="carreras-eventos")
                                    option(value='' disabled='' selected='') Carreras Disponibles
                            .input__item--grid.input__item--grid--movil
                                select.input__item(required='' id="fecha-eventos")
                                    option(value='' disabled='' selected='') Fecha de evento
                                select.input__item(name='LEADCF168', id='tipo-eventos', required='')
                                    option(value='0' disabled='') Eventos Cayetano
                                    option(value='Talleres Cayetano') Talleres
                                    option(value='Conversatorio Cayetano') Conversatorio Cayetano
                            .captcha
                                #recap3503766000237491098.g-recaptcha.recaptcha(data-sitekey='6LdqkDoiAAAAALdLtgIzFUQelkS9jGZU4W7gjLHG' data-theme='light' data-callback='rccallback3503766000237491098' captcha-verified='false')
                                #recapErr3503766000237491098(style='font-size:12px;color:red;visibility:hidden;') Error en validación de Captcha. Si no es un robot, inténtelo de nuevo.
                            // INPUTS
                            input#LEADCF183(type='hidden' name='LEADCF183' value='')
                            input#LEADCF189(type='hidden' name='LEADCF189' value='')
                            input#LEADCF24(type='hidden' name='LEADCF24' value='')
                            input#LEADCF184(type='hidden' name='LEADCF184' value='')
                            input#LEADCF182(type='hidden' name='LEADCF182' value='')
                            input#LEADCF22(type='hidden' name='LEADCF22' value='')
                            input#LEADCF198(type='hidden' name='LEADCF198' value='')
                            .checkbox__item--grid
                                .input__check
                                    input#privacyTool3503766000237491098.colorCheckbox(type='checkbox' autocomplete='off' name='privacyTool' onclick='disableSubmit()')
                                label#labelCheckbox(for='privacyTool3503766000237491098') Acepto la Política de privacidad y los Términos de servicio
                            #privacyErr3503766000237491098(style='font-size:12px;color:red;padding-left: 5px;visibility:hidden;') Acepte por favor
                        .btn__container
                            button#formsubmit.btn__enviar(type='submit' title='Enviar' value='Enviar Datos')
                                h3 ENVIAR
                        // SCRIPT
                        //- script(async).
                        script.
                            let inputCheckbox = document.getElementById('LEADCF198');
                            let colegios = {
                                0222045: {"categoria": "SILVER", "promotor": "Carlos Bejarano", "colegio":"Jorge Washinton"}
                            }
                            console.log(colegios[0222045])
                            function onlyOne(checkbox, message) {
                                inputCheckbox.value = message;
                                var checkboxes = document.getElementsByName('check')
                                checkboxes.forEach((item) => {
                                    if (item !== checkbox) item.checked = false
                                })
                            }
                            function privacyAlert3503766000237491098() {
                                var privacyTool = document.getElementById('privacyTool3503766000237491098');
                                var privacyErr = document.getElementById('privacyErr3503766000237491098');
                                if(privacyTool !=undefined && !privacyTool.checked )
                                {
                                    //- privacyErr.style.visibility='visible';
                                    alert("Porfavor acepte la política de privacidad y términos de servicio")
                                    privacyTool.focus();
                                    return false;
                                }
                                return true;
                            }
                            function disableErr3503766000237491098() {
                                var privacyTool = document.getElementById('privacyTool3503766000237491098');
                                var privacyErr = document.getElementById('privacyErr3503766000237491098');
                                if(privacyTool !=undefined && privacyTool.checked && privacyErr !=undefined )
                                {
                                privacyErr.style.visibility='hidden';
                                }
                            }
                            function rccallback3503766000237491098() {
                                if (document.getElementById('recap3503766000237491098') != undefined) {
                                    document.getElementById('recap3503766000237491098').setAttribute('captcha-verified', true);
                                }
                                if (document.getElementById('recapErr3503766000237491098') != undefined && document.getElementById('recapErr3503766000237491098').style.visibility == 'visible') {
                                    document.getElementById('recapErr3503766000237491098').style.visibility = 'hidden';
                                }
                            }
                            function reCaptchaAlert3503766000237491098() {
                                var recap = document.getElementById('recap3503766000237491098');
                                    if (recap != undefined && recap.getAttribute('captcha-verified') == 'false') {
                                        document.getElementById('recapErr3503766000237491098').style.visibility = 'visible';
                                    return false;
                                }
                                return true;
                            }
                            function validateEmail3503766000237491098() {
                                var form = document.forms['WebToLeads3503766000237491098'];
                                var emailFld = form.querySelectorAll('[ftype=email]');
                                var i;
                                for (i = 0; i < emailFld.length; i++){
                                    var emailVal = emailFld[i].value;
                                    if((emailVal.replace(/^\\s+|\s+$/g, '')).length!=0 ) {
                                        var atpos=emailVal.indexOf('@');
                                        var dotpos=emailVal.lastIndexOf('.');
                                        if (atpos<1 || dotpos<atpos+2 || dotpos+2>=emailVal.length){
                                            alert('Introduzca una dirección de correo electrónico válida. ');
                                            emailFld[i].focus();
                                            emailFld[i].style.border = "2.5px solid #01295f";
                                            setTimeout(() => {
                                                emailFld[i].style.border = "none";
                                            }, 3000);
                                            return false;
                                        }
                                    }
                                }
                                return true;
                            }
                            function validateDateFormat3503766000237491098() {
                                var form = document.forms['WebToLeads3503766000237491098'];
                                var dateFlds = form.querySelectorAll('[ftype=date]');
                                var i;
                                for (i = 0; i < dateFlds.length; i++) {
                                    var dateFld = dateFlds[i];
                                    var usrPtrn = dateFld.placeholder;
                                    var dateVal = dateFld.value;
                                    if(dateVal.trim() != ''){
                                        var vald = dateFormatConvert.validate(dateVal,usrPtrn);
                                        if(!vald){
                                            alert('Escriba una fecha válida ');
                                            dateFld.focus();
                                            return false;
                                        }
                                    }
                                }
                                return true;
                            }
                            function checkMandatory3503766000237491098() {
                                var dniInput = document.getElementById("LEADCF21");
                                var dniValue = dniInput.value;
                                var celInput = document.getElementById("Mobile");
                                var celValue = celInput.value;
                                var mndFileds = new Array('First Name','Last Name','LEADCF197', 'LEADCF42', 'LEADCF168');
                                var fldLangVal = new Array('Nombre','Apellidos','Institución de procedencia');
                                for(i=0;i<mndFileds.length;i++) {
                                    var fieldObj=document.forms['WebToLeads3503766000237491098'][mndFileds[i]];
                                    if(fieldObj) {
                                        if (((fieldObj.value).replace(/^\\s+|\s+$/g, '')).length==0) {
                                            if(fieldObj.type =='file') {
                                                alert('Seleccione un archivo para cargar.');
                                                fieldObj.focus();
                                                return false;
                                            }
                                            alert(fldLangVal[i] +' no puede estar vacío.');
                                            fieldObj.focus();
                                            return false;
                                        }  else if(fieldObj.nodeName=='SELECT') {
                                            if(fieldObj.options[fieldObj.selectedIndex].value=='Carreras Elegibles*') {
                                                alert(fldLangVal[i] +' no puede ser nulo.');
                                                fieldObj.focus();
                                                return false;
                                            }
                                        } else if(fieldObj.type =='checkbox'){
                                            if(fieldObj.checked == false){
                                                alert('Please accept  '+fldLangVal[i]);
                                                fieldObj.focus();
                                                return false;
                                            }
                                        } 
                                        if (/^\d{8}$/.test(dniValue)||/^\d{20}$/.test(dniValue)) {
                                        } else {
                                            alert("El DNI ingresado no es válido");
                                            fieldObj.focus();
                                            dniInput.style.border = "2.5px solid #01295f";
                                            setTimeout(() => {
                                                dniInput.style.border = "none";
                                            }, 3000);
                                            return false;
                                        }
                                        if (/^(9)[0-9]{8}$/.test(celValue)) {
                                        } else {
                                            alert("Debe ingresar 9 digitos en el campo celular");
                                            fieldObj.focus();
                                            celInput.style.border = "2.5px solid #01295f";
                                            setTimeout(() => {
                                                celInput.style.border = "none";
                                            }, 3000);
                                            return false;
                                        }
                                        try {
                                            if(fieldObj.name == 'Last Name') {
                                            name = fieldObj.value;
                                            }
                                        } catch (e) {}
                                    }
                                }
                                if(!validateEmail3503766000237491098()){return false;}
                                if(!privacyAlert3503766000237491098()){return false;}
                                if(!reCaptchaAlert3503766000237491098()){return false;}
                                if(!validateDateFormat3503766000237491098()){return false;}
                                document.querySelector('.crmWebToEntityForm .formsubmit').setAttribute('disabled', true);
                            }
                            function tooltipShow3503766000237491098(el){
                                var tooltip = el.nextElementSibling;
                                var tooltipDisplay = tooltip.style.display;
                                if(tooltipDisplay == 'none'){
                                    var allTooltip = document.getElementsByClassName('zcwf_tooltip_over');
                                    for(i=0; i<allTooltip.length; i++){
                                    allTooltip[i].style.display='none';
                                    }
                                    tooltip.style.display = 'block';
                                }else{
                                    tooltip.style.display='none';
                                }
                            }
                            function getUTMParams() {
                                var params = {};
                                var queryString = window.location.search;
                                queryString = queryString.substr(1);
                                var pairs = queryString.split("&");
                                for (var i = 0; i < pairs.length; i++) {
                                var pair = pairs[i].split("=");
                                params[pair[0]] = pair[1];
                                }
                                return params;
                            }
                            // obtener los parámetros UTM y almacenarlos en variables
                            var utmParams = getUTMParams();
                            var utmSource = utmParams["utm_source"];
                            var utmMedium = utmParams["utm_medium"];
                            var utmTerm = utmParams["utm_term"];
                            var utmContent = utmParams["utm_content"];
                            // almacenar las variables UTM en inputs ocultos
                            document.getElementById("LEADCF183").value = utmSource;
                            document.getElementById("LEADCF189").value = utmMedium;
                            document.getElementById("LEADCF24").value = "CAMPAÑA_BENEFICIOS_COLEGIOS_ADS";
                            //- document.getElementById("LEADCF184").value = document.getElementById('tipo-eventos').value;
                            document.getElementById("LEADCF184").value = utmTerm;
                            document.getElementById("LEADCF182").value = utmContent;
                            document.getElementById("LEADCF22").value = document.getElementById('tipo-eventos').value;
                            window.addEventListener("load", function () {
                                const tiposDocumento = {
                                    DNI: {
                                    maxLength: 8,
                                    value: "",
                                    pattern: "[0-9]{8}",
                                    placeholder: "Ingresa numero de DNI",
                                    title: "Debe contener 8 números",
                                    },
                                    CarnédeExtranjería: {
                                    minLength: 5,
                                    maxLength: 20,
                                    value: "",
                                    pattern: "[0-9]{1,20}",
                                    placeholder: "Ingresa numero de Carnet",
                                    title: "Solo números hasta 20 digitos como maximo",
                                    },
                                    Pasaporte: {
                                    minLength: 6,
                                    maxLength: 20,
                                    value: "",
                                    pattern: "[0-9]{1,20}",
                                    placeholder: "Ingresa numero de Pasaporte",
                                    title: "Solo números hasta 20 digitos como maximo",
                                    },
                                };
                                const numeroDocumento = document.getElementById("LEADCF21");
                            });
                        // SCRIPT
                        // OTHER SCRIPT
                        script#wf_anal(src='https://crm.zohopublic.com/crm/WebFormAnalyticsServeServlet?rid=42e2caac6f0c0344d1e62ffdafb95a5d7d3571ff6d536aa6c0e7a7338f8d1179gidc97f82d6293e06539d0f3a6c001f215f068b9d003b173ad35ac95fe75cb8ea7fgid885e3c1045bd9bdcc91bdf30f82b5696gid14f4ec16431e0686150daa43f3210513&tw=61690b96c1d0471b638f31426f38e68aa67fb7ed6da86f32dc10ad817fe55a0a' async)
                        // OTHER SCRIPT
                        // Do not remove this code.
                        iframe(name='captchaFrame' style='display:none;')
                    // EMPIEZA EL FORM
        //- script(src="./js/swiper.js" id="swiper" async)
        //- script(src="./js/script.js" async)